<section class="m-4">
  <div class="card">
    <div class="card-header"><h3>Add New Product - Reactive Form</h3></div>
    <div class="card-body">
      <form [formGroup]="productAddForm" (ngSubmit)="add()" class="form-group">
        <div class="form-group mb-1">
          <label for="productName">Product Name</label>
          <input
            type="text"
            id="productName"
            name="productName"
            formControlName="productName"
            required
            class="form-control"
          />
          <!-- Hata mesajı -->
          <div
            *ngIf="
              productAddForm.get('productName')?.hasError('required') &&
              productAddForm.get('productName')?.dirty
            "
            class="alert alert-danger mt-2"
          >
            Product name is required
          </div>
        </div>

        <div class="form-group mb-1">
          <label for="unitPrice">Unit Price</label>
          <input
            type="number"
            id="unitPrice"
            name="unitPrice"
            formControlName="unitPrice"
            required
            class="form-control"
          />
          <!-- Hata mesajı -->
          <div
            *ngIf="
              productAddForm.get('unitPrice')?.hasError('required') &&
              productAddForm.get('unitPrice')?.dirty
            "
            class="alert alert-danger mt-2"
          >
            Unit price is required
          </div>
        </div>

        <div class="form-group mb-1">
          <label for="categoryId">Category</label>
          <select
            id="categoryId"
            name="categoryId"
            formControlName="categoryId"
            required
            class="form-control"
          >
            <option *ngFor="let category of categories" [value]="category.id">
              {{ category.categoryName }}
            </option>
          </select>
          <!-- Hata mesajı -->
          <div
            *ngIf="
              productAddForm.get('categoryId')?.hasError('required') &&
              productAddForm.get('categoryId')?.touched
            "
            class="alert alert-danger mt-2"
          >
            Category is required
          </div>
        </div>

        <div class="form-group mb-1">
          <label for="quantityPerUnit">Quantity Per Unit</label>
          <input
            type="text"
            id="quantityPerUnit"
            name="quantityPerUnit"
            formControlName="quantityPerUnit"
            required
            class="form-control"
          />
          <!-- Hata mesajı -->
          <div
            *ngIf="
              productAddForm.get('quantityPerUnit')?.hasError('required') &&
              productAddForm.get('quantityPerUnit')?.dirty
            "
            class="alert alert-danger mt-2"
          >
            Quantity per unit is required
          </div>
        </div>

        <div class="form-group mb-1">
          <label for="imageUrl">Image Url</label>
          <input
            type="text"
            id="imageUrl"
            name="imageUrl"
            formControlName="imageUrl"
            required
            class="form-control"
          />
          <!-- Hata mesajı -->
          <div
            *ngIf="
              productAddForm.get('imageUrl')?.hasError('required') &&
              productAddForm.get('imageUrl')?.dirty
            "
            class="alert alert-danger mt-2"
          >
            Image url is required
          </div>
        </div>

        <div class="form-group mb-1">
          <label for="unitsInStock">Units in Stock</label>
          <input
            type="number"
            id="unitsInStock"
            name="unitsInStock"
            formControlName="unitsInStock"
            required
            class="form-control"
          />
          <!-- Hata mesajı -->
          <div
            *ngIf="
              productAddForm.get('unitsInStock')?.hasError('required') &&
              productAddForm.get('unitsInStock')?.dirty
            "
            class="alert alert-danger mt-2"
          >
            Units in stock is required
          </div>
        </div>

        <button
          type="submit"
          [disabled]="productAddForm.invalid"
          class="btn btn-primary mb-1 mt-2"
        >
          Add Product
        </button>
      </form>
    </div>
  </div>
</section>
